<header id="header">
    <nav class="navbar navbar-default navbar-static-top" role="banner">
      <div id="navContainer" class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
          <div class="navbar-brand">
            <a data-toggle="modal" href="#ProfileModal"><h1>Profile</h1></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <button class="btn btn-primary button" type="button" id="createAnnouncement" data-toggle="modal" data-target="#viewAnnouncementModal"> </button>
          
          <div class="menu">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="/home" id="home-nav-link" class="active">Home</a></li>
              <li role="presentation"><a href="/balance" id="balance-nav-link">Balance</a></li>
              <li role="presentation"><a href="/documentTracker" id="document-nav-link">Document Tracker</a></li>
              <li role="presentation"><a href="/debts" id="debts-nav-link">Debts</a></li>
              <li role="presentation"><a href="/help" id="help-nav-link">Help</a></li>
              <li role="presentation"><a href="" id="btn-logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/.container-->
    </nav>
    <!--/nav-->
  </header>
  <!--/header-->