<div class="modal fade" id="ProfileModal" role="dialog">
            <div id="ProfileModalDialog" class="modal-dialog">
            <div class="modal-content">
                <div id="ProfileModalHeader" class="modal-header">
                    <h4 style="color: whitesmoke;font-weight:bold;">Organization Name</h4>
                </div>
                <div id="ProfileModalBody" class="modal-body">
                    <label>email address</label>
                    <input placeholder="put org email here" type="text" class="form-control" readonly></input>
                    <label>password</label>
                    <input type="password" class="form-control"> </input>
                    <button type="submit" id= "btnupdateInfo" class="btn btn-default">CHANGE</button> <br/>
                    
                </div>
            </div>
            </div>
        </div>