<div class="gallery">
    
    <div class="text-center">
      <h2>Welcome back, {{org}}!</h2>
      <p>Below are the important links that you can access from the CSO Finance Directory. </p>
    </div>

    {{!-- Container 1 --}}
    <div class="container card-container">

      {{#each card}}

      <a href={{link}}>
        <div class="col-md-4">
          <figure class="effect-marley">
            <img src="../images/11.jpg"  alt="" class="img-responsive">
              <h4>{{cardTitle}}</h4>
              <p>{{cardDesc}}</p>
          </figure></div></a>
      {{/each}}


        </div>
    </div>

<script>
    $(document).ready(function(){
        $("#viewAnnouncementModal").modal('show');
    });
</script>