<div class="gallery">
    <div class="text-center">
      <h2>Welcome back, {{org}}!</h2>
      <p>Below are the important links that you can access from the CSO Finance Directory. </p>
       <!-- <button type="submit" id= "createNewCard" class="btn btn-default">Create A New Card </button> -->
    </div>
    <div class="container">
        <a href="https://docs.google.com">
      <div class="col-md-4">

        <figure class="effect-marley">
          <img src="../images/google docs.png" alt="" class="img-responsive" />
            <h4>Google Documents</h4>
            <p>This page is a shortcut to your google documents.</p>
            
        </figure></a>
      </div>
        <a href="https://tinyurl.com/45thFinanceDrive" class="active">

      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/google drive.png" alt="" class="img-responsive" />
            <h4>CSO's 45th Finance Drive</h4>
            <p>This page contains all the documents and files of CSO Finance.</p>
        </figure></a>
      </div>
        <a href="https://sheets.google.com">

        
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/google sheets.png" alt="" class="img-responsive" />
            <h4>Google Sheets</h4>
            <p>This page contains the different trackers and sheets of CSO Finance.</p>
        </figure></a>
      </div>
    </div>

    <div class="container">
        <a href="https://tinyurl.com/FinanceSubmission1920">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/11.jpg" alt="" class="img-responsive" />
            <h4>Submission Log for AY 19-20</h4>
            <p>This is a shortcut to the Google Forms Log Sheets for Finance Subimssions.</p>
        </figure></a>
            </div>
        <a href="https:google.com">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/12.jpg" alt="" class="img-responsive" />
            <h4>GOOGLE</h4>
            <p>This is a shortcut to Google.</p>
        </figure></a>
      </div>
        
    </div>
  </div>