<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>CSO FINANCE HOMEPAGE</title>

  <!-- Bootstrap -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/animate.css">
  <link href="../css/animate.min.css" rel="stylesheet">
  <link href="../css/style2.css" rel="stylesheet" />
  <!-- =======================================================
    Website Name: CSO Finance Homepage
    Author: SOFENGG DEV TEAM
  ======================================================= -->
</head>

<body>
    
  <header id="header">
    <nav class="navbar navbar-default navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
          <div class="navbar-brand">
            <a href="/home"><h1>CSO FINANCE</h1></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <div class="menu">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="index.html" class="active">Home</a></li>
              <li role="presentation"><a href="balance.html">Your Balance</a></li>
              <li role="presentation"><a href="tracker.html">Document Tracker</a></li>
              <li role="presentation"><a href="debts.html">Debts</a></li>
              <li role="presentation"><a href="help.html">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/.container-->
    </nav>
    <!--/nav-->
  </header>
  <!--/header-->

  <div class="gallery">
    <div class="text-center">
      <h2>Welcome back, {{org}}!</h2>
      <p>Below are the important links that you can access from the CSO Finance Directory. </p>
    </div>
    <div class="container">
        <a href="https://docs.google.com">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/8.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>Google Documents</h4>
            <p>This page is a shortcut to your google documents.</p>
          </figcaption>
        </figure>
      </div></a>
        <a href="https://drive.google.com" class="active">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/9.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>CSO Finance Drive</h4>
            <p>This page contains all the documents and files of CSO Finance.</p>
          </figcaption>
        </figure>
      </div></a>
        <a href="https://sheets.google.com">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/10.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>Google Sheets</h4>
            <p>This page contains the different trackers and sheets of CSO Finance.</p>
          </figcaption>
        </figure>
      </div></a>
    </div>

    <div class="container">
        <a href="https://google.com">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/11.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>GOOGLE</h4>
            <p>This is a shortcut to Google.</p>
          </figcaption>
        </figure>
            </div></a>
        <a href="https:google.com">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/12.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>GOOGLE</h4>
            <p>This is a shortcut to Google.</p>
          </figcaption>
        </figure>
      </div></a>
        <a href="https://google.com">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/13.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>GOOGLE</h4>
            <p>This is a shortcut to Google.</p>
          </figcaption>
        </figure>
      </div></a>
    </div>
  </div>

  <div class="sub-footer">
    <div class="container">
      <div class="social-icon">
        <div class="col-md-4">
<!--
          <ul class="social-network">
            <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
-->
        </div>
      </div>

      <div class="col-md-4 col-md-offset-4">
        <div class="copyright">
          &copy; SOFENGG Project.
          <div class="credits">
            Designed by SOFENGG Dev Team
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>
</body>

</html>
