<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>CSO FINANCE HOMEPAGE</title>

  <!-- Bootstrap -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/animate.css">
  <link href="../css/animate.min.css" rel="stylesheet">
  <link href="../css/style2.css" rel="stylesheet" />

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-storage.js"></script>
  <script src="../js/home.js"></script>
  <script src="../js/global.js"></script>
  <!-- =======================================================
    Website Name: CSO Finance Homepage
    Author: SOFENGG DEV TEAM
  ======================================================= -->
</head>

<body>
{{#if org}}
  {{#if admin}}
    {{> adminNav}}
  {{else}}
    {{> nav}}
  {{/if}}
{{else}}
  {{> nav}}
{{/if}}

  <div class="gallery">
    <div class="text-center">
      <h2>Welcome back, {{org}}!</h2>
      <p>Below are the important links that you can access from the CSO Finance Directory. </p>
    </div>
    <div class="container">
        <a href="https://docs.google.com">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/8.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>Google Documents</h4>
            <p>This page is a shortcut to your google documents.</p>
          </figcaption>
        </figure>
      </div></a>
        <a href="https://drive.google.com" class="active">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/9.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>CSO Finance Drive</h4>
            <p>This page contains all the documents and files of CSO Finance.</p>
          </figcaption>
        </figure>
      </div></a>
        <a href="https://sheets.google.com">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/10.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>Google Sheets</h4>
            <p>This page contains the different trackers and sheets of CSO Finance.</p>
          </figcaption>
        </figure>
      </div></a>
    </div>

    <div class="container">
        <a href="https://google.com">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/11.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>GOOGLE</h4>
            <p>This is a shortcut to Google.</p>
          </figcaption>
        </figure>
            </div></a>
        <a href="https:google.com">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/12.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>GOOGLE</h4>
            <p>This is a shortcut to Google.</p>
          </figcaption>
        </figure>
      </div></a>
        <a href="https://google.com">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="../images/13.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>GOOGLE</h4>
            <p>This is a shortcut to Google.</p>
          </figcaption>
        </figure>
      </div></a>
    </div>
  </div>
  {{> footer}}

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>
</body>

</html>
