<html>
    <head>
        <title> Login </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-storage.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="../js/login.js"></script>
    </head>

    <body>
        <div class="modal-dialog text-center">
            <div class="col-sm-9 main-section">
                <div class="modal-content">
                    <div class="col-12 user-img">
                        <img src="../images/CSO Logo.png">
                    </div>

                    <div class="col-12 form-input">
                            <div class="form-group">
                                <label> Organization Initials </label>
                                <input id="loginOrgName" type="text" placeholder="Enter Org Name in Lowercase" class="form-control" placeholder="Enter Email">
                            </div>

                            <div class="form-group">
                                <label> Email Address </label>
                                <input id="loginEmail" type="email" class="form-control" placeholder="Enter Email">
                            </div>

                            <div class="form-group">
                                <label>Password</label> 
                                <input id="loginPassword" type="password" class="form-control" placeholder="Enter Password">
                            </div>

                            {{!-- If Incorrect credentials --}}
                            <div class="logInErrorMessage" style="justify-content: center; text-align:center;">
                                <br>
                        
                            </div>
                            {{!-- End Incorrect Credentials --}}

                            <button id="btn-login" class="btn btn-success">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>