<!-- No Password Warning Modal -->
        {{!-- <div class="modal fade" id="examplePasswordModal passModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{!-- Default Password Detected --}} No Password Detected</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- You have entered an email address with default password. <br> Please change your password now. <br> --}}
                You have no password set currently. Please input password.
                <input type="password" id="changePassword"> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="openShop()" class="btn">Continue</button>
            </div>
            </div>
        </div>
        </div> --}}