<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> ADMIN TABLE </title>
        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/animate.css">
        <link href="../css/animate.min.css" rel="stylesheet">
        <link href="../css/style2.css" rel="stylesheet" />
        <link href="../css/users.css" rel="stylesheet"/>

<!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous">
-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-storage.js"></script>
        <script src="../js/users.js"></script>
        <script src="../js/global.js"></script>
    </head>

    <body>
        {{>adminNav}}
       <div id="admin"> <h1>Admin: {{user.organization}}</h1></div>
       <button id="addUser" class="addUser" type="button" data-toggle="modal" data-target="#addModal">Create Account</button>
       <br><br>
      
        
        <table id="table1" style="width:100%">
            <tr>
                <th>Organization</th>
                <th>Email Address</th>
                <th></th>
            </tr>
            
            {{#each users}}
                    <tr data-id={{@key}}>
                        <td class="td-key">{{@key}}</td>
                        <td class="td-email">{{email}} </td>
                        <td><button id="orgsEdit" class="orgsEdit" type="button" data-toggle="modal" data-target="#myModal">Edit</button>
                        <button id="orgsDelete" class="orgsDelete" type="button" data-toggle="modal" data-target="#deleteModal">Delete</button></td>
                    </tr>
            {{/each}}
                
        </table>
        {{> footer}}
        {{> profile}}

        
                
        <!-- Add User Modal -->
        <div class="modal fade" id="addModal" role="dialog">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New User </h4>
                </div>
                <div class="modal-body modal-center">
                    <label>Organization Name:</label>
                    <input id="orgName" type="text" class="form-control"> </input>
                     <br/>

                    <label>Email Address:</label>
                    <input id="orgEmail" type="text" class="form-control"> </input>
                    <br/>

                    <label>Password:</label>
                    <input id="orgPassword" type="password" class="form-control"> </input>
                    <br/>

                    <label> Re-type Password:</label>
                    <input id="orgPassword" type="password" class="form-control"> </input>
                    <br/>
                    
                    <button type="submit" id= "btncreateUser" class="btn btn-default" data-toggle="modal" data-target="#responseModal">Create User</button> 
                    <br/>
                    
                </div>
                </div>
            </div>
        </div>

        

        <!-- Response Modal -->
        <div class="modal fade responseModal" id="responseModal" role="dialog">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Success!</h4>
                </div>
                <div id="responseBody" class="modal-body">
                    
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn button btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete User Modal -->
        <div class="modal fade" id="deleteModal" role="dialog">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Confirmation </h4>
                </div>
                <div class="modal-body text-center">
                    <h4>Are you sure you wish to delete this account?</h4>
                     <br/>
                    <button type="submit" id= "btndeleteUser" class="btn btn-default">Delete</button>
                    <button type="button" class="btn button btn-default" data-dismiss="modal">Cancel</button>
                    <br/>
                    
                </div>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div class="modal fade myModal" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Sheet Key, Email, and Password </h4>
                </div>
                <div class="modal-body">
                    
                        <h2 id ="modal-title" class="modal-title">  </h4>
                        <form role="form">
                            <div class="form-group"> <br/>
                            <label for="newSheet">Sheet Key </label>
                            <input id = "newSheet" type="text" class="form-control" id="newSheet"> </input>
                            <button type="submit" id= "editSheetBtn" class="btn btn-default">Enter Sheet Key </button> <br/><br/><br/>

                            <label for="currentEmail">Current Email Address</label>
                            <input type="email" class="form-control" name="em" id="currentEmail" value="" readonly> </input> <br/>
    
                            <label for="newEmailAddress">New Email Address </label>
                            <input id="newEmailAddress" type="email" class="form-control" id="newEmail"> </input>
                            <button type="submit" id= "editEmailBtn" class="btn btn-default">Edit Email</button> <br/><br/><br/>

                            <label for="currentPassword">Password</label>
                            <div> Current password is hidden for security purposes. </div>
                            <button id= "resetBtn" class="btn btn-default selector" data-toggle="modal" data-target="#responseModal" data-dismiss="modal">Reset Password</button> <br/>
                        </form>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>  

    </body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
        wow = new WOW({}).init();
    </script>
</html>