<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> ADMIN TABLE </title>
        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/animate.css">
        <link href="../css/animate.min.css" rel="stylesheet">
        <link href="../css/style2.css" rel="stylesheet" />

<!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous">
-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-storage.js"></script>
        <script src="../js/users.js"></script>
        <script src="../js/global.js"></script>
        
         <style>
            #admin{
                color:black;
                margin-top:100px;
            }
            #table1 {
              border-collapse: collapse;
              width: 100%;
            }

            #table1 td, #table1 th {
              border: 1px solid #ddd;
              padding: 8px;
            }
            
            #table1 td{
                color:black;
            }

            #table1 tr:nth-child(even){background-color: #f2f2f2;}

            #table1 tr:hover {background-color: #ddd;}

            #table1 th {
              padding-top: 12px;
              padding-bottom: 12px;
              text-align: left;
              background-color: #4CAF50;
              color: white;
            }
        </style>
        
    </head>

    <body>
        {{>adminNav}}
       <div id="admin"> <h1>Admin: {{user.organization}}</h1><input type="button" value="Reset"><br><br></div>
        
        <table id="table1" style="width:100%">
            <tr>
                <th>Organization</th>
                <th>Email Address</th>
                <th></th>
            </tr>
            
            {{#each users}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{email}}</td>
                        <td><input type="button" value="Reset"></td>
                    </tr>
            {{/each}}
                
        </table>
        {{> footer}}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-migrate.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script>
            wow = new WOW({}).init();
        </script>
    </body>
</html>