body {
    /* background: url("../images/Login\ Background.png") no-repeat fixed; */
    background-image: linear-gradient(150deg, #087830, #143b22, rgb(19, 32, 20));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;
}

.logInError{
    justify-content: center;
    text-align: center;
    width: 350px;
    border-style: solid;
    border-color: #ff3f3f;
    color: #ff3f3f;
    background-color:#FFDCE0;
    border-width: 1.7pt;
    border-radius: 7px;
    font-size: 17;
    font-weight: bold;
    padding: 0 10px;
}

.main-section{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.modal-dialog{
    float: right;
    margin: 0% 10%;
    height: auto;
    margin-top: 60px;
}
.modal-content {
    background-color: #535e51;
    padding: 0 18px;
    border-radius: 10px;
    height: 410px;
    width: 400px;
    opacity: 1.0;
    box-shadow: 0px 10px 25px -2px #0e140ca8;
    margin-top: 40px;
}

.tagline {
    align-items: center;
    justify-content: center;
    display: flex;
}

.tagline img {
    width: 80%;
}

.user-img img{
    height: 180px;
    width: 180px;
    margin-top: -120px;
} 

.form-group{
    margin-top: 0px;
    margin-bottom: 15px;
}

.form-group input{
    height: 42px; 
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    letter-spacing: 1px;
}

.form-input{
    margin-top: -350px;
}

label{
    color: white;
    font-size:20px;
}

button{
    margin-top: 10px;
    width: 120px;
}

#btn-login.btn.btn-success{
    border-radius: 25px;
    width: 150px;
}

.tagline {
    height: auto;
    width: auto;
    max-width: 60%;
}

@media only screen and (max-width: 1060px) {
    .tagline {
        display: none;
    }

    body {
        justify-content: center;
    }
}