div.dataTables_wrapper {
    font-family:'Open Sans', Arial, sans-serif;
    border-collapse: collapse;
    max-width: 100%;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
  
  tr:hover {background-color: #ddd;}
  

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  th input {
    background: none;
    border: none;
    color: white;
  }

  th input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    
  }

.DTFC_Blocker {
  background: #fff;
}

.filter {
  width: fit-content;
}

.fixedCol {
  width: 30px;
}